<%- include('layout/navbar') %>

<section id="hero" class="hero position-relative">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" style="background-image: url('/img/background-main1.jpg');">
        <div class="overlay"></div>
        <div class="hero-text text-center text-white">
          <h1 class="fw-bold">Selamat Datang di Hotel Bintang 5 ✨</h1>
          <p class="lead">Kemewahan dan kenyamanan terbaik untuk liburan Anda</p>
          <a href="#info" class="btn btn-light mt-3">Jelajahi</a>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('/img/background-main2.jpg');">
        <div class="overlay"></div>
        <div class="hero-text text-center text-white">
          <h1 class="fw-bold">Pemandangan Indah</h1>
          <p class="lead">Nikmati panorama pantai dan kota dari kamar Anda</p>
          <a href="#info" class="btn btn-light mt-3">Lihat Fasilitas</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info container-fluid py-5 d-flex align-items-center" id="info">
  <div class="container text-center text-dark">
    <h2 class="fw-bold">Tipe Kamar Hotel Kami</h2>
    <p class="lead">
      Hotel kami menawarkan fasilitas mewah serta pelayanan terbaik
      <br>
      dengan berbagai tingkat.
    </p>
    <div class="row mt-5">

      <% if (tipeData && tipeData.length > 0) {%>
          <% tipeData.forEach((tipe) => {%>
              <% if (tipe.tipe_kamar == 'reguler') {%>
                <div class="col-md-4">
                  <div class="card shadow-lg border-0 p-5">
                    <h4><%= tipe.tipe_kamar.charAt(0).toUpperCase() + tipe.tipe_kamar.slice(1) %></h4>
                    <p><%= tipe.deskripsi %></p>
                    <a href="/reservasi?level=reguler" class="btn btn-light mt-3">Jelajahi</a>
                  </div>
                </div>
              <% } else if (tipe.tipe_kamar == 'vvip') { %>
                <div class="col-md-4">
                  <div class="card shadow-lg border-0 p-5">
                    <h4><%= tipe.tipe_kamar.toUpperCase()%></h4>
                    <h4></h4>
                    <p><%= tipe.deskripsi %></p>
                    <a href="/reservasi?level=vvip" class="btn btn-light mt-3">Jelajahi</a>
                  </div>
                </div>
              <% } else { %>
                <div class="col-md-4">
                  <div class="card shadow-lg border-0 p-5">
                    <h4><%= tipe.tipe_kamar.toUpperCase()%></h4>
                    <h4></h4>
                    <p><%= tipe.deskripsi %></p>
                    <a href="/reservasi?level=vip" class="btn btn-light mt-3">Jelajahi</a>
                  </div>
                </div>
              <% } %>
          <% }) %>
      <% } else { %>
          <option value="#">Belum ada tipe kamar</option>
      <% } %>

    </div>
  </div>
</section>
